<body>
    <app-navbar></app-navbar>
    <div class="container">
        <form class="form" id="form">
            <span class="signup">Symptômes des maladies</span>
            
            
            <div class="form--marketing">
                <input id="checkbox1" type="checkbox" >
                <label for="checkbox1" class="checkbox">
                  Itching - مثير للحكة
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox2" type="checkbox" >
                <label for="checkbox2" class="checkbox">
                    skin_rash - الطفح الجلدي
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox3" type="checkbox" >
                <label for="checkbox3" class="checkbox">
                    chills - قشعريرة
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox4" type="checkbox" >
                <label for="checkbox4" class="checkbox">
                    joint_pain - الم المفاصل
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox5" type="checkbox" >
                <label for="check" class="checkbox">
                    vomiting - القيء
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox6" type="checkbox" >
                <label for="check" class="checkbox">
                    fatigue - تعب
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox7" type="checkbox" >
                <label for="check" class="checkbox">
                  Cough - سعال
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox8" type="checkbox" >
                <label for="check" class="checkbox">
                    high_fever - ارتفاع درجة الحرارة
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox9" type="checkbox" >
                <label for="check" class="checkbox">
                    headache - صداع
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox10" type="checkbox" >
                <label for="check" class="checkbox">
                    yellowish_skin - مصفر_الجلد
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox11" type="checkbox" >
                <label for="check" class="checkbox">
                    nausea - غثيان
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox12" type="checkbox" >
                <label for="check" class="checkbox">
                    loss_of_appetite - فقدان الشهية
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox13" type="checkbox" >
                <label for="check" class="checkbox">
                    back_pain - ألم في الظهر
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox14" type="checkbox" >
                <label for="check" class="checkbox">
                    abdominal_pain - وجع بطن
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox15" type="checkbox" >
                <label for="check" class="checkbox">
                    diarrhoea - إسهال
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox16" type="checkbox" >
                <label for="check" class="checkbox">
                    mild_fever - حمى خفيفة
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox17" type="checkbox" >
                <label for="check" class="checkbox">
                    yellowing_of_eyes - اصفرار_العيون
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox18" type="checkbox" >
                <label for="check" class="checkbox">
                    malaise - توعك
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox19" type="checkbox" >
                <label for="check" class="checkbox">
                    chest_pain - توعك
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox20" type="checkbox" >
                <label for="check" class="checkbox">
                    bloody_stool - براز مدمي
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox21" type="checkbox" >
                <label for="check" class="checkbox">
                    dizziness - دوخة
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox22" type="checkbox" >
                <label for="check" class="checkbox">
                    enlarged_thyroid - تضخم_الغدة الدرقية
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox23" type="checkbox" >
                <label for="check" class="checkbox">
                    muscle_weakness - ضعف_العضلات
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox24" type="checkbox" >
                <label for="check" class="checkbox">
                    swelling_joints - تورم_المفاصل
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox25" type="checkbox" >
                <label for="check" class="checkbox">
                    loss_of_balance - فقدان التوازن
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox26" type="checkbox" >
                <label for="check" class="checkbox">
                    bladder_discomfort -  المثانةانزعاج
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox27" type="checkbox" >
                <label for="check" class="checkbox">
                    irritability - التهيج
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox28" type="checkbox" >
                <label for="check" class="checkbox">
                    muscle_pain - ألم عضلي
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox29" type="checkbox" >
                <label for="check" class="checkbox">
                    polyuria - بوال
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox30" type="checkbox" >
                <label for="check" class="checkbox">
                    rusty_sputum - البلغم الصدئ
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox31" type="checkbox" >
                <label for="check" class="checkbox">
                    coma - غيبوبة
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox32" type="checkbox" >
                <label for="check" class="checkbox">
                    small_dents_in_nails - خدوش صغيرة في الأظافر
                </label>
            </div>
            <div class="form--marketing">
                <input id="checkbox33" type="checkbox" >
                <label for="check" class="checkbox">
                    blister - بثرة
                </label>
            </div>
           
            <button class="form--submit" (click)="predict()">
                Submit
            </button>
        </form>

        <div class="result" id="result">
            <h1 class="text-primary">La maladie predite : </h1>
            <h2 class="text-danger">{{result}}</h2>

            <button class="btn btn-primary" (click)="go_home()">Go back</button>
        </div>  
       

    </div>
</body>
